* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    /* cursor: none; */
}


::selection {
    color: black;
}

:root {
    --bodyBG: 0deg, rgba(167,202,214,1) 0%, #C63D2F 65%;

    --navtextcolor: rgb(54, 54, 54);
    --maintextcolor: rgba(0, 0, 0, 0.734);
    --navhover: rgb(226, 255, 195);
    --navcolor: rgb(255, 255, 255);


    --cursor: invert(64%) sepia(41%) saturate(5215%) hue-rotate(179deg) brightness(97%) contrast(94%);

    --color0: #ffbb5c;

    --moon: invert(93%) sepia(86%) saturate(496%) hue-rotate(317deg) brightness(104%) contrast(103%);
    --moon_spot: invert(93%) sepia(86%) saturate(496%) hue-rotate(317deg) brightness(104%) contrast(103%);

    --color1: invert(72%) sepia(44%) saturate(1581%) hue-rotate(324deg) brightness(105%) contrast(101%);
    --color2: invert(47%) sepia(15%) saturate(4281%) hue-rotate(334deg) brightness(94%) contrast(88%);
    --color3: invert(27%) sepia(99%) saturate(1053%) hue-rotate(338deg) brightness(97%) contrast(91%);
    --color4: invert(8%) sepia(61%) saturate(4822%) hue-rotate(9deg) brightness(96%) contrast(108%);


    --aboutBG: circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%;
    --qualBG: circle, rgba(174, 182, 238, 1) 0%, rgba(233, 148, 181, 1) 100%;
    --projBG: circle, rgba(149, 255, 152, 1) 0%, rgba(154, 166, 240, 1) 100%;
    --bodytextcolor: rgba(19, 19, 19, 0.882);
}

.darkMode {
    --bodyBG: 0deg, rgb(243, 159, 90) 0%, rgb(174, 68, 90) 65%;
    
    --navtextcolor: rgb(54, 54, 54);
    --maintextcolor: rgba(215, 215, 215, 0.938);
    --navhover: rgb(219, 255, 180);
    --navcolor: rgb(255, 255, 255);

    --cursor: invert(40%) sepia(63%) saturate(1131%) hue-rotate(238deg) brightness(102%) contrast(101%);
    
    --color0: #00011e;
    
    --moon: invert(97%) sepia(91%) saturate(561%) hue-rotate(330deg) brightness(102%) contrast(101%);
    --moon_spot: invert(85%) sepia(11%) saturate(1009%) hue-rotate(353deg) brightness(104%) contrast(91%);
    
    --color1: invert(11%) sepia(58%) saturate(2226%) hue-rotate(265deg) brightness(94%) contrast(96%);
    --color2: invert(18%) sepia(28%) saturate(1991%) hue-rotate(281deg) brightness(92%) contrast(92%);
    --color3: invert(33%) sepia(33%) saturate(1427%) hue-rotate(301deg) brightness(94%) contrast(83%);
    --color4: invert(8%) sepia(39%) saturate(3457%) hue-rotate(227deg) brightness(88%) contrast(103%);
    
    
    --aboutBG: circle, rgb(153, 84, 114) 0%, rgb(72, 105, 143) 100%;
    --qualBG: circle, rgb(86, 96, 175) 0%, rgb(167, 79, 113) 100%;
    --projBG: circle, rgb(58, 134, 60) 0%, rgb(80, 90, 150) 100%;
    --bodytextcolor: rgba(235, 235, 235, 0.866);
}

#cursor {
    transition: 0.1s ease-out;
    z-index: 9999;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 6vw;
    pointer-events: none;
    filter: var(--cursor);
    top: -3vw;
    left: -3vw;
}

body {
    background: linear-gradient(var(--bodyBG));
}







main {
    background-color: var(--color0);
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sun_moon {
    filter: var(--moon);
    z-index: 50;
    position: absolute;
    width: 35vh;
    top: calc(50% - 20vh);
    left: calc(50% - 42vw);
}

.moon_spots {
    pointer-events: none;
    filter: var(--moon_spot);
}

.layer0 {
    filter: var(--color1);
    z-index: 2;
    position: absolute;
    width: 180vw;
    top: calc(50% - 12vh);
    left: calc(50%);
}

.layer1 {
    filter: var(--color2);
    z-index: 3;
    position: absolute;
    width: 160vw;
    top: calc(50% - 12vh);
    left: 50%;
}

.layer2 {
    filter: var(--color3);
    z-index: 4;
    position: absolute;
    width: 150vw;
    top: calc(50% - 18vh);
    left: 50%;
}

.nametxt {
    position: absolute;
    display: block;
    top: calc(50% - 5vh);
    left: calc(50% - 18vw);
    font-size: 6.5vw;
    color: var(--maintextcolor);
}

.tree {
    filter: var(--color4);
    z-index: 6;
    position: absolute;
    width: 70vw;
    top: calc(50% + 10vh);
    left: calc(50% + 40vw);
}

.parallax {
    transition: 0.3s cubic-bezier(.23, .58, .29, .98);
}

.texture {
    pointer-events: none;
    z-index: 999999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
    opacity: 0%8;
}







nav {
    bottom: 0vh;
    z-index: 100;
    position: fixed;
    flex-flow: column;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.navbuttons {
    padding: 1.5vh 1vh;
    margin: 1vh 2vh;
    background-color: var(--navcolor);
    border-radius: 5vh;
    text-align: center;
    text-decoration: none;
    color: var(--navtextcolor);
    font-size: 1.5vw;

}


nav .navbuttons:hover {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background: var(--navhover);
}





.pages{
    background: radial-gradient(var(--bodyBG));
    translate: 0 -3vw;
}





.pageElements {
    margin: 1vw 1vw;
    border-radius: 50px;
    box-shadow: 0.5vw 0.5vh 1vh 0.5vh black;    
}

#ABOUT{
    background: radial-gradient(var(--aboutBG));
    height: 35vw;
}
#ABOUT p{
    translate: 0 4vw;
    font-size: 2.5vw;
    margin: 3vw 6vw;
    color: var(--bodytextcolor);
}

#QUAL{
    background: radial-gradient(var(--qualBG));
    height: 60vw;
}
#QUAL *{
    color: var(--bodytextcolor);
    margin: 0 6vw;
}
#QUAL h2{
    margin: 2vw 6vw;
    translate: 0 4vw;
    font-size: 3vw;
}
#QUAL h3{
    translate: 4vw 4vw;
    font-size: 2.5vw;
}
#QUAL p{
    translate: 6vw 4vw;
    font-size: 2vw;
}












html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}